In [1]:
empty = set()

In [2]:
type(empty)

set

In [3]:
number ={1,2,3,2,1,4,5}
number

{1, 2, 3, 4, 5}

In [7]:
#CONVERT LIST INTO SET FOR FIND UNIQUE ELEMENT
l= [10,20,30,20,40,30]
unique_number = set([10,20,30,20,40,30])
unique_number

{10, 20, 30, 40}

In [9]:
number.discard(1)

In [10]:
number

{2, 3, 4, 5}

In [11]:
number.pop()

2

In [12]:
number

{3, 4, 5}