In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\krish\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\krish\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\krish\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\krish\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\krish\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\krish\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
s1=pd.Series([98,95,90,85,92])

In [6]:
s1

0    98
1    95
2    90
3    85
4    92
dtype: int64

In [8]:
type(s1)

pandas.core.series.Series

In [11]:
s2= pd.Series([98,95,90,85,92],index=["DS","DAA","SE","DBMS","COA"])

In [12]:
s2

DS      98
DAA     95
SE      90
DBMS    85
COA     92
dtype: int64

In [13]:
s2["DS"]

np.int64(98)

In [14]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [22]:
df=pd.DataFrame(data)
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [17]:
pd.DataFrame(s2)

       0
DS    98
DAA   95
SE    90
DBMS  85
COA   92

In [23]:
df.index

RangeIndex(start=0, stop=3, step=1)